<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Guess the number</p>
    <input type="number" id="userInput">
    <button id="but" onclick="verify(document.getElementById('userInput').value)">Guess</button>
    <p id="res"></p>

<script> 
function verify(value){
    console.log(value);
    let sessionNr = {{guess}} // sent from controller 
    console.log(sessionNr, " from sessino" );
    if(value > sessionNr)
        document.querySelector("#res").innerHTML = "PREA MARE";
    else if(value < sessionNr)
            document.querySelector("#res").innerHTML = "PREA MIC";
    else 
            document.querySelector("#res").innerHTML = "EXACT";
}


</script>

</body>
</html>
